.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.cursor {
  transform-style: preserve-3d;
  perspective: 200px;
}
.cursorContent {
  transform-style: preserve-3d;
}