body {
	--primary-color: #ff4800;
	--text-color: #262626;
}

body.dark-mode {
	--primary-color: yellow;
	--text-color: rgba(255, 255, 255, 0.65);
}

/* @media (prefers-color-scheme: dark) {
  body {
    --primary-color: yellow;
    --text-color: rgba(255, 255, 255, 0.65);
  }
} */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	color: var(--text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
